<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Website</title>
    <!-- for icons  -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>

  <body class="body-fixed">
    <!-- start of header  -->
    <section class="about-sec section" id="about">
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="sec-title text-center mb-5">
                <p class="sec-sub-title mb-3">About Us</p>
                <h2 class="h2-title">
                Discover about our Restaurant
                </h2>
                <div class="sec-title-shape mb-4">
                <img src="https://res.cloudinary.com/sairev-production/image/upload/v1650662512/images/about/title-shape_z7edm2.svg" alt="" />
                </div>
                <p>
                    Welcome to Second Wife Family Restaurant, we are proud of our freshly prepared food, warm welcome and relaxing atmosphere.
                    <br>
                    It’s the ideal place for those that seek genuine value, whether for a family meal, a relaxing drink or a bite to eat with friends.
                    <br>
                    At Second Wife we follow strict standards on service, quality and presentation.
                    <br>
                    We use only the finest ingredients in all of our dishes to ensure that every meal we serve is delicious and nutritious.
                    <br>
                    We encourage you to visit our restaurant and experience our cuisine.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 m-auto">
                <div class="about-video">
                  <div
                    class="about-video-img"
                    style="background-image: url(https://res.cloudinary.com/sairev-production/image/upload/v1650662516/images/about/about_vgzdbj.jpg)"
                  ></div>
                  <div class="play-btn-wp">
                    <a
                      href="https://res.cloudinary.com/sairev-production/video/upload/v1650662524/images/about/video_s9wolu.mp4"
                      data-fancybox="video"
                      class="play-btn"
                    >
                      <i class="uil uil-play"></i>
                    </a>
                    <span>Watch The Recipe</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="sec-title text-center mb-5">
                <a href="/" class="sec-sub-title mb-1">Back To Home</a>
        </div>
      </div>
    </div>

  </body>
</html>
